$draft-actions-left-margin: 40px + $gl-padding;

.draft-note-component {
  margin: 0;

  .referenced-commands.draft-note-commands {
    background: $orange-50;
    font-size: $label-font-size;
    margin: 0 0 $gl-padding $draft-actions-left-margin;
  }

  .timeline-entry {
    background-color: transparent;
  }

  .draft-note-actions {
    margin: 0;
  }
}

button[disabled] {
  &,
  &:focus,
  &:hover {
    .gl-badge {
      background: $gray-100;
      color: $gray-500;
    }
  }
}

.diff-file:not(.discussion-wrapper) .note.draft-note {
  margin: 0 0 $gl-padding;
  padding: $gl-padding-8 $gl-padding-8 $gl-padding-8 $gl-padding;
  border: 0;
  background: $orange-50;

  &.is-editing {
    margin-bottom: 0;
  }
}

.diff-file.discussion-wrapper .note.draft-note {
  .timeline-entry-inner {
    border-bottom: 1px solid $border-color;
    border-bottom-left-radius: $gl-border-radius-base;
    border-bottom-right-radius: $gl-border-radius-base;
    background-color: $orange-50 !important;
  }
}

.discussion-body,
.diff-file {
  .notes_holder {
    .notes-content {
      .notes {
        &.draft-notes {
          &::before {
            border: 0;
          }

          background-color: transparent;
        }
      }
    }
  }
}
